<header class="section_header">
    <div class="container">
        <div class="section_header__head">
            <figure class="section_header__logo_box">
                <img src="images/pic/icon/colden_deer.png" alt="img" class="section_header__logo_deer">
                <img src="images/logos/logo.png" alt="img" class="section_header__logo_img">
            </figure>
            <div class="section_header__content">
                <div class="section_header__inner">
                    <img src="images/pic/icon/leaf.png" alt="img" class="section_header__content_img">
                    <span class="section_header__content_heat">
                        <span class="section_header__content_heat section_header__content_heat--bold">
                            100%
                        </span>
                        натурально
                    </span>
                </div>
                <div class="section_header__inner">
                    <img src="images/pic/icon/like.png" alt="img" class="section_header__content_img">
                    <span class="section_header__content_heat">
                        <span class="section_header__content_heat section_header__content_heat--bold">
                            100%
                        </span>
                        эффективно
                    </span>
                </div>
            </div>
            <div class="section_header__box"></div>
        </div>
        @@include('../templates/section_product.html')
    </div>
</header>