<section class="section_recommendation">
    <div class="container">
        <div class="section_recommendation__inner">
            <div class="section_recommendation__opinion_box">
                <h3 class="section_recommendation__title">
                    Мнение
                    <span class="section_recommendation__title section_recommendation__title--orange">
                        врача
                    </span>
                </h3>
                <p class="section_recommendation__content">
                    50% мужчин до 35 лет имеют проблемы с эрекцией. Поэтому при первых же признаках необходимо брать быка за рога и решать проблему.
                </p>
                <p class="section_recommendation__content">
                    Я своим пациентам советую пантовые орешки Пантомакс, это натуральный препарат, который отлично влияет не только на потенцию, но и на весь организм.
                </p>
                <p class="section_recommendation__content">
                    При приеме Пантомакс у мужчины нормализуется работа сосудов и повышается потенция. Одним из действий препарата также является улучшение психоэмоциональной составляющей сексуальной жизни. Препарат поможет поддержать эрекцию во время всего полового акта. При этом эффект пантовых орешков не зависит от времени их приема.
                </p>
                <div class="section_recommendation__doctor_box">
                    <span class="section_recommendation__doctor">
                        Ильнур Мухазин, врач-андролог, к.м.н.
                    </span>
                    <img alt="img" src="images/portfolio/signature.png" class="section_recommendation__signature">

                    </img>
                </div>
            </div>
            <figure class="section_recommendation__doctor_photo">
                <img src="images/portfolio/doctor.png" alt="img" class="section_recommendation__img">
            </figure>
        </div>
    </div>
</section>