{<section class="header_product">
    <h3 class="header_product__title">
        Сколько раз за ночь ты можешь?
    </h3>
    <div class="header_product__box">
        <div class="header_product__about">
            <h3 class="header_product__about_title">
                Пантомакс – каменный стояк<br>
                для неприличных рекордов
            </h3>
            <div class="header_product__box_inner">
                <div class="header_product__inner">
                    <figure class="header_product__ellipse">
                        <img src="images/pic/icon/product_icone.png" alt="img" class="header_product__ellipse_img">
                    </figure>
                    <span class="header_product__about_content">
                        Мощная эрекция и потенция
                    </span>
                </div>
                <div class="header_product__inner">
                    <figure class="header_product__ellipse">
                        <img src="images/pic/icon/product_icone.png" alt="img" class="header_product__ellipse_img">
                    </figure>
                    <span class="header_product__about_content">
                        Занимайся сексом сколько хочешь
                    </span>
                </div>
                <div class="header_product__inner">
                    <figure class="header_product__ellipse">
                        <img src="images/pic/icon/product_icone.png" alt="img" class="header_product__ellipse_img">
                    </figure>
                    <span class="header_product__about_content">
                        Получай космические оргазмы
                    </span>
                </div>
                <div class="header_product__inner">
                    <figure class="header_product__ellipse">
                        <img src="images/pic/icon/product_icone.png" alt="img" class="header_product__ellipse_img">
                    </figure>
                    <span class="header_product__about_content">
                        Гарантированный стояк
                        до 3-х часов
                    </span>
                </div>
            </div>
            <figure class="header_product__product">
                <img src="images/portfolio/product.png" alt="" class="header_product__img">
            </figure>
        </div>
        <div class="header_product__percent">
            <figure class="header_product__percent_title">
                <img src="images/portfolio/percent.png" alt="img" class="header_product__img">
                <p class="header_product__percent_content">
                    Ваша потенция вернется через 21 день,
                    применения! Проверьте сами
                </p>
            </figure>
        </div>
        <div class="header_product__form_box">
            <div class="header_product__total">
                <div class="header_product__total_box">
                    <span class="header_product__item header_product__item--opacity">
                        0
                    </span>
                    <span class="header_product__item">
                        1
                    </span>
                    <span class="header_product__item">
                        0
                    </span>
                </div>
                <p class="header_product__total_content">
                    *Всего упаковок<br>
                    по акции
                </p>
            </div>
            <form action="#" class="header_product__form">
                <div class="header_product__form_title_box">
                    <p class="header_product__title_form header_product__title_form--opacity">
                        Полная цена
                        <span class="header_product__price_form header_product__price_form--opacity">
                            1980
                        </span>
                        <span class="header_product__currency">
                                руб
                        </span>
                    </p>
                    <p class="header_product__title_form">
                        Цена со скидкой
                        <span class="header_product__price_form">
                            990
                        </span>
                        <span class="header_product__currency">
                                руб
                        </span>
                    </p>
                </div>
                <input type="text" class="header_product__name" placeholder="Введите ваше имя">
                <input type="text" class="header_product__phone" placeholder="Введите номер телефона">
                <button class="header_product__button">
                    <span class="header_product__button_item">
                        <img src="images/pic/icon/Forma_icone.png" alt="img" class="header_product__form_ing">
                    </span>
                    Заказать сейчас
                </button>
                <p class="header_product__protection">
                    <img src="images/pic/icon/lock.png" alt="img" class="header_product__lock">
                    Ваши данные под защитой SecureTECH
                </p>
            </form>
        </div>
    </div>
</section>