<section class="section_about">
    <div class="container">
        <div class="section_about__inner">
            <div class="section_about__content_box">
                <h3 class="section_about__title">
                    Panto

                    <span class="section_about__title section_about__title--orange">
                        MAX
                    </span>
                    – максимальное
                    удовольствие в сексе
                </h3>
                <p class="section_about__content">
                    <span class="section_about__content section_about__content--bold">
                        Пантовые орешки
                    </span>
                    – экопродукт, в состав которого входят натуральные компоненты. Препарат абсолютно совместим с клеточными жидкостями, быстро проникает в кровь и начинает действовать уже через 30 минут. Биогенный комплекс орешек действует на половые и репродуктивные функции мужского организма, эндокринные функции, гормональный статус. Также Название оказывает многоплановое действие на функции
                    и состояние мозга, сердечно-сосудистой, пищеварительной, нервной, иммунной систем
                </p>
            </div>
        </div>
    </div>
</section>