<section class="section_problem">
    <div class="container">
        <h2 class="section_problem__title">
            Проблема
            <span class="section_problem__title section_problem__title--orange">
                ума
            </span>
            или
            <span class="section_problem__title section_problem__title--orange">
                тела
            </span>
            ?
        </h2>
        <p class="section_problem__sub_title">
            Ответьте всего на 2 вопроса и узнайте свой тип импотенции
        </p>
        <div class="section_problem__question_box">
            <h3 class="section_problem__question">
                <span class="section_problem__question_item">
                    1
                </span>
                Как уменьшалась эрекция?
            </h3>
            <nav class="section_problem__answer_box">
                <a href="#" class="section_problem__answer">
                    Постепенно
                </a>
                <a href="#" class="section_problem__answer">
                    Внезапно
                </a>
            </nav>
        </div>
    </div>
</section>