<section class="section_advantages">
    <div class="container">
        <h3 class="section_advantages__title">
            <span class="section_advantages__title section_advantages__title--bold">
                Преимущества
            </span>
            пантовых орешек
            <span class="section_advantages__title section_advantages__title--bold">
                Panto
            </span>
            <span class="section_advantages__title section_advantages__title--orange">
                MAX
            </span>
        </h3>
        <div class="section_advantages__inner">
            <figure class="section_advantages__product">
                <img src="images/portfolio/product_advantages.png" alt="img" class="section_advantages__product_img">
            </figure>
            <div class="section_advantages__box">
                <div class="section_advantages__card">
                    <figure class="section_advantages__card_photo">
                        <img src="images/portfolio/img_1.png" alt="img" class="section_advantages__card_img">
                    </figure>
                    <div class="section_advantages__card_inner">
                        <p class="section_advantages__card_content">
                            Дарит яркие<br>
                            оргазмы
                        </p>
                    </div>
                </div>
                <div class="section_advantages__card">
                    <figure class="section_advantages__card_photo">
                        <img src="images/portfolio/img_2.png" alt="img" class="section_advantages__card_img">
                    </figure>
                    <div class="section_advantages__card_inner">
                        <p class="section_advantages__card_content">
                            Нормализует<br>
                            гормональный фон
                        </p>
                    </div>
                </div>
                <div class="section_advantages__card">
                    <figure class="section_advantages__card_photo">
                        <img src="images/portfolio/img_3.png" alt="img" class="section_advantages__card_img">
                    </figure>
                    <div class="section_advantages__card_inner">
                        <p class="section_advantages__card_content">
                            Избавляет от эректильной<br>
                            дисфункции
                        </p>
                    </div>
                </div>
                <div class="section_advantages__card">
                    <figure class="section_advantages__card_photo">
                        <img src="images/portfolio/img_4.png" alt="img" class="section_advantages__card_img">
                    </figure>
                    <div class="section_advantages__card_inner">
                        <p class="section_advantages__card_content">
                            Улучшает<br>
                            кровообращение<br>
                            в организме
                        </p>
                    </div>
                </div>
                <div class="section_advantages__card">
                    <figure class="section_advantages__card_photo">
                        <img src="images/portfolio/img_5.png" alt="img" class="section_advantages__card_img">
                    </figure>
                    <div class="section_advantages__card_inner">
                        <p class="section_advantages__card_content">
                            Повышает тонус<br>
                            и жизненные силы
                        </p>
                    </div>
                </div>
                <div class="section_advantages__card">
                    <figure class="section_advantages__card_photo">
                        <img src="images/portfolio/img_6.png" alt="img" class="section_advantages__card_img">
                    </figure>
                    <div class="section_advantages__card_inner">
                        <p class="section_advantages__card_content">
                            Регулирует либидо<br>
                            и желание
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>